# Server's port (default 50051). The example client always uses port 50051.
GRPC_PORT=50051

# Setting to 0.0.0.0 is only necessary if running in a docker container
SERVER_HOSTNAME=0.0.0.0

# The secret is retrieved with the Approov CLI tool which can also be used to generate valid (and invalid) tokens for
# testing. Check docs at https://approov.io/docs/v2.1/approov-cli-tool-reference/#token-commands.
APPROOV_BASE64_SECRET=<approov_base64_secret_here>
